*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image:  url("class.jpeg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}
.noentry h1{
	position:relative;
	text-align: ;
	color:#fff;
	top:120px;
	font-size: 50px;
}
.registerd{
	width:100%;
	height:500px;
	background:lightblue;
}
.name{
	padding-left: 20%;
	font-size: 18px;
	/*font-weight: 100;*/
	text-transform: capitalize;
	text-align: center;
}
.inputclass1{
	position: relative;padding-left: 10px;
	left:300px;
	width: 300px;
}
.inputclass2{
	position: relative;padding-left: 10px;
	left:235px;
	width: 300px;
}
.inputclass3{
	position: relative;padding-left: 10px;
	left:309px;
	width: 300px;
}
.inputclass4{
	position: relative;padding-left: 10px;
	left:222px;
	width: 300px;
}
.inputclass5{
	position: relative;padding-left: 10px;
	left:285px;
	width: 300px;
}
.inputclass6{
	position: relative;padding-left: 10px;
	left:217px;
	width: 300px;
}
.inputclass7{
	position: relative;  padding-left: 10px;
	left:206px;
	width: 300px;
}
.butun{
	position: relative;
	width: 100px;
	height: auto;
	text-align: center;
	left: 350px;

}
.reset2{
	position: relative;
	left:420px;
	width: 150px;
}
.formdiv{
	/*background-image: linear-gradient(rgba(0,165,168,0.2),rgba(0,125,155,0.3))*/
	/*background:red;*/
}
.poem{
	
}
